* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #0197c5;
}

/* Шапка сайта */
.header {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    border-radius: 20px;
    height: 60px;
    background-color: rgb(rgb(0, 17, 255), green, blue)
   
}

/* Пункты меню */
.nav a {
    color: white;
    padding: 4px 8px;
    border-radius: 10px;
    text-decoration: none;
    margin-left: 30px;
    font-size: 25;
    transition: 1%;
}

.nav a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    transition: 1%;
}

/* аватарка */
.uzer-info {
    display: flex;  
    align-items: center;
}

.avatar-wrapper {
    position: relative;
    margin: 30px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.online-dot {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 12px;
    height: 12px;
    background-color: #4caf50;
    border-radius: 50%;
}

/* блоки с контентом */
.content {
    background-color: #002244;
    color: rgb(236, 162, 162);
    border-radius: 20px;
    margin: 10px;
    padding: 30px;
    width: 100%;

}

.title {
  margin-bottom: 40px;
}

.post {
    margin-top: 7px;
    margin-bottom: 30px;
}

.date {
    color: #ccc;
    font-size: 10px;
}

/* фото */

.photo-row {
    display: flex; 
    margin: 30px;
}

.photo {
    width: 600px;
    border-radius: 20px;
    margin: 5px;
}



/* футер */
.footer {
    background-color: #002244;
    width: 100%;
    height: 60px;
    padding: 25px;
    color: #ccc;
    text-align: center;
    font-size: 14px;
}

.btn img {
    width: 60%;
    height: 60%;
}

.btn {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 60px;
    height: 60px;
    background-color: #0197c5;
    color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999;
    transition: 1s;
}

.btn:hover{
    width: 70px;
    height: 70px;
    background-color: #0197c5;
    transition: 1s;
}

/* Круглая кнопка (position: fixed) */
.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #0055aa;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.floating-button:hover {
  background-color: #003366;
}

